{
  "overrides": [
    {
      "options": {
        "printWidth": 150,
        "singleQuote": true,
        "trailingComma": "all",
        "bracketSpacing": true,
        "jsxBracketSameLine": false,
        "tabWidth": 4,
        "semi": true,
        "endOfLine": "crlf"
      },
      "files": "*.ts"
    }
  ]
}
